
<div style="width: 100%;" >
 <div class="d-flex justify-content-center" style="margin-top: 30vh;">
    <form action="/login" method="post">
      <div class="form-group " style="margin:auto" >
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" name="name" style="width:150px" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        
      </div>
      <div class="form-group" >
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" style="width:150px" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      {{!-- <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> --}}
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  {{!-- <div class="justify-content-center">
    <p>a</p>
  </div> --}}
</div>