<div class="mt-4">
 <div class="row">
  <div style="width: 100%">
    <h1>
      {{book.name}}
    </h1>
      <div class="d-flex justify-content-center">
        <img  class="style-image" src="{{book.image}}"  alt="Card image cap">
    
      </div>
      <div class="row">
        <p >Description: {{ book.description}} </p> 
        <a href="/books/create"> _Đặt phòng</a>
      </div>
  </div>
 </div>
</div>