<div class="mt-4">
  <div class=" d-flex justify-content-center">
    <h3>Cập nhật thông tin đặt phòng</h3>
  </div>
  
  <div class=" d-flex justify-content-center">
  <form method="post" action="/books/{{book._id}}?_method=PUT">
    <div class="form-group">
      <label for="name">Tên</label>
      <input type="text" class="form-control" id="name" value="{{book.name}}" name="name" >
    </div>
    <div class="form-group">
      <label for="description">Mô tả</label>
      <textarea class="form-control" id="description" name="description">
      {{book.description}} </textarea>
    </div>
    {{!-- <div class="form-group">
      <label for="description">Nội dung</label>
      <input type="text" class="form-control" id="description" >
    </div> --}}
    <div class=" d-flex justify-content-center">
      <button type="submit"  class="btn btn-primary">Submit</button>
    </div>
    
  </form>
  </div>
</div>